[data-theme="dark"] {
 background-color: #232323 !important;
  transition: 250ms;
  color: white !important;
}


[data-theme="light"] {
  background-color: #ffffff !important;
  transition: 250ms;
  color: #232323  !important;
}