@use '../variables' as config;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: config.$UbuntuFont;
  &-header {
    text-align: center;
    color: white;
    background-color: config.$GrayBackgroundColor;
    max-width: 90%;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  }
}



.user-card {
  display: flex;
  align-items: center;
  background: #234994;
  border-radius: 15px;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
  margin-top: 16px;
  margin-bottom: 16px;
  border: #00134b solid 5px;
  color: white;



  &__image-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 12px;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00134b;
  }

  &__status {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #00134b;

    &--online {
      background-color: green;
    }

    &--offline {
      background-color: #484848;
    }

    &--dnd {
      background-color: red;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  &__name {
    font-size: 3rem;
    text-align: center;
    paint-order: fill;
    font-weight: bold;
    background: transparent;
    border: #00134b solid 5px;
    border-radius: 15px;
  }
  &__roleinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__role {
    font-size: 0.9rem;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
    background: transparent;
    border: #00134b solid 5px;
  }

  &__about {
    font-size: 0.50em;
    background: transparent;
    border: #00134b solid 5px;
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    font-weight: bold;
  }
}
