#root {
  background: inherit;
}

.nav-header {
  background-color: inherit;
  position: fixed;
  width: 100%;
  z-index: 1000;
  filter: blur(0.25px);
  padding: 1rem;
  font-family: 'Monaspace Krypton', monospace;

  &__container {
    display: flex;
    justify-content: space-between; 
    align-items: center;;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }


  &__link {
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;

    &:hover {
      color: #f39c12;
    }
  }

  &__menu {
    display: none;
    transition: 0.5s;

    &:hover {
      color: #f39c12;
    }
  }

  &__toggle {
    background: #f39c12;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 5px;
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: inherit;

    &:hover {
      background: #e67e22;
    }
  }
}

@media (max-width: 756px) {
  .nav-header__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: fadeIn 0.5s ease-in forwards;
  }

  .nav-header__list.open {
    display: flex;
  }

  .nav-header__menu {
    display: block;
    font-size: 2em;
    z-index: 3;
  }

  .nav-header__link {
    font-size: 2.5em;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      height: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      height: 100vh;
      filter: blur(0px);
    }
  }
}
