@use "../variables" as config;


.header-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 90%;
  justify-self: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  .title {
    font-family: config.$UbuntuFont;
    text-align: center;
    background-color: black;
    color: white;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-image: linear-gradient(
                    to right,
                    white 20%,
                    red 40%,
                    #ff0000 60%,
                    red 80%,
                    white 100%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }

}
.cards-container {
  font-family: config.$UbuntuFont;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 100px;
  row-gap: 20px;
  align-items: center;
  align-content: space-around;
  text-align: center;
  height: max-content;
  padding: 30px;

  .card {
    background-color: #234994;
    color: white;
    border: #00134b solid 5px;
    padding: 20px;
    height: max-content;
    width: 100%;
    max-height: 350px;
    max-width: 500px;
    border-radius: 10px;

    transition: 250ms ease-in-out ;
  }

  .card:hover {
    background-color: #001f5d;
    scale: (1.125);
    z-index: 2;
  }
  .card:not(:hover) {
    scale: (1);
    z-index: 1;
  }
}